.Header{
    padding: 10px 40px;
}
.HeaderNav{
    display: flex;
}
.HeaderNav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.HeaderNav a:hover {
    text-decoration: underline;
}