.OrdersItem{
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px 100px;
    margin-bottom: 20px;
}
.OrdersItemContainer{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}