.AddButton {
    height: 40px;
    line-height: 40px;
    display: block;
    margin-bottom: 20px;
    border: none;
    background: black;
    color: white;
    margin-left: auto;
    width: 300px;
}
.AddButton:hover {
    opacity: 0.75;
}