.DishItem {
    padding: 10px 100px;
    border: 1px solid grey;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 15px;
}
.DishItem img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.DishItem h5 {
    text-transform: uppercase;
}
.DishItem button {
    background: black;
    border: none;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
}
.DishItem button:hover {
    opacity: 0.75;
}